* {
  margin: 0;
  padding: 0;
}
#root {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
.input-information {
    margin: 1em 0 1em 0;
  flex: 1.5;
  max-width: 500px;
  max-height: 1100px;
  background-color: grey;
  flex-direction: column;
  overflow: scroll;
}
.display-information {
    margin: 1em 0 1em 0;
  flex: 2;
  max-width: 800px;
  max-height: 1100px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.tools,
.person-details,
.education,
.experience,
.person-details-drop,
.education-drop,
.experience-drop {
  background-color: white;
  padding: 0.5em;
}
.person-details,
.education,
.experience {
  margin-bottom: 1em;
  display: flex;
  font-size: 1.8em;
  font-weight: bold;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
}
.person-details-drop,
.education-drop,
.experience-drop {
  display: flex;
  font-size: 1.8em;
  font-weight: bold;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em 0.5em 0 0;
}
.personal-details,
.education-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2em;
  border-radius: 0 0 0.5em 0.5em;
  padding: 1em;
  padding-top: 0;
  gap: 0.5em;
}
.education-click,
.education-details {
  display: flex;
  background-color: white;
  margin-bottom: 2em;
  border-radius: 0 0 0.5em 0.5em;
  padding: 1em;
  gap: 0.5em;
  margin-top: 0;
  padding-top: 0;
}
.education-details-two{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 2em;
    border-radius: 0 0 0.5em 0.5em;
    padding: 0;
    padding-top: 0;
    gap: 0.5em;
    margin-top: 0;
    padding-top: 0;
}
.education-click {
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  flex-direction: column;
}

.add-education {
  font-size: 1.8em;
  padding: 0.3em;
  background-color: white;
  border: 1px solid grey;
  border-radius: 1em;
}
.add-education:focus,
.add-education:hover {
  background-color: lightblue;
}
.tools {
  margin-bottom: 2em;
  border-radius: 0.5em;
}
.title {
  display: flex;
  gap: 0.2em;
  flex-direction: center;
  align-items: center;
}
.buttons {
display: flex;
justify-content: space-between;
}
.second-half {
    display: flex;
    gap: 2em;
}
.delete, .save, .cancel {
    font-size: 1.1em;
    padding: .3em;
    border-radius: 1em;
    border: 2px solid black;
}

.display-top {
  flex: 1.5;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.display-bottom {
  flex: 8;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
.dates {
  display: flex;
  gap: 1em;
  font-size: 1.3em;
}
input {
  display: block;
  background-color: #f3f4f6;
  border: none;
  padding: 0.5em;
  border-radius: 0.3em;
  font-size: 0.8em;
}
input:focus {
  border: 1px solid #3b83f6;
}
.start-date,
.end-date {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}
.name,
.email,
.phone,
.address,
.school,
.degree {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  gap: 0.5em;
}
.display-name {
  color: white;
  font-size: 2em;
}
.display-email,
.display-phone,
.display-address {
  color: white;
  display: flex;
  gap: 0.2em;
  align-items: center;
}
.display-personal {
  display: flex;
  gap: 1em;
}
.dropdown,
.education-dropdown {
  animation: rotateBack 1s ease forwards;
}
.dropdown-rotate,
.education-dropdown-rotate {
  animation: rotate 1s ease forwards;
}
.education-snippet{
    border: 1px dotted black;
    font-size: 2em;
    width: 100%;
    padding: .5em;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
  * {
    font-size: 1em;
  }
  #root {
    padding: 0;
    gap: 0;
  }
  .display-information {
    display: none;
  }
  .input-information {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateBack {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
